@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
      font-family: "Work Sans", sans-serif;;
}

/* header related styles */
.header{
    background-image: url('../images/banner/banner3.png'), url('../images/gradient1.png');
    background-repeat: no-repeat;
    height: 808px;
   
}
.header-title{
    font-size: 65px;
    font-weight: bold;
    color: white;
    text-align: right;
    margin-right: 50px;
    margin-top: 0px;
    padding-top: 200px;
}
.header-description{
    font-size: 16px;
    line-height: 26px;
    color: white;
    text-align: right ;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}
.primary-btn{
    font-size: 16px;
    font-weight: 800;
    color: #005FAC;
    padding: 10px;
    width: 160px;
    height: 65px;
    border-radius: 5px;
    border: none;
    float: right;
    margin-right: 50px; 
}

/* main body styles */

.main{
    margin-left: 200px;
    margin-right: 200px;
    width: 1072px;
    height: 725px;
    background-color: seashell;
}
main li{
    list-style: none;
}

.main-body-container{
    display: flex;
    gap: 40px;
    justify-content: space-evenly;

}

.main-body-list{
     padding-top: 300px ;
     padding-right: 50px;
     display:inline;
}
.list-heading{
    font-size: 40px;
    font-weight: 800;
    color: #444343;
    margin-bottom: 0px;
}
.list-description{
    font-size: 16px;
    color: #444343;
}
.failure-list{
    padding-left: 0px;
    font-size: 16px;
    color: #444343;
}

.plan-heading{
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.plan-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.course-name{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.course-description{
    color: #444343;
}


.positive-mindset-container{
    
    background-image: linear-gradient(to right, rgba(2, 21, 129, 0.52), rgba(223, 221, 245, 0)),url('../images/watch.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 1050px;
    height: 300px;
}
.mindset-header{
    font-size: 40px;
    font-weight: 800;
    color: white;
    padding-top: 70px;
    padding-left: 50px;
    margin-bottom: 10px;
}
.call-now{
    font-size: 16px;
    font-weight: 800;
    color: #005FAC;
    background-color: white;
    width: 160px;
    height: 65px;
    border-radius: 5px;
    border: none;
    margin-left: 50px ;
    margin-bottom: 50px;
}

/* footer related styles */

.footer-container{
    display: flex;
    justify-content: space-between;
}
.future-heading{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.heading-description{
    font-size: 12px;
    line-height: 26px;
    margin-top: 0px;
}

.icon-container{
    display: flex;
}

.subscribe{
    font-size: 25px;
}

